:root {
    --white: #fff;
    --testimonials-background: #fefefe;
    --input-border: #e1e1e1;
    --application-particle-pink: #bc04fc;
    --light-blue: #56ccf2;
    --dark-blue: #2f80ed;
    --green: #03d542;
    --orange: #fcc304;
    --red: #f25656;
    --light-grey: #fcfcfd;
    --dark-font: #253757;
    --darker-font: #334563;
    --testimonials-name: #152032;
    --main-font: Muli, sans-serif;
    --stairs-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    --testimonials-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    --blue-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), #56ccf2;
    --blue-stairs-circle-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), linear-gradient(0deg, #56ccf2, #56ccf2), #c4c4c4;
    --orange-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), #fcc304;
    --green-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), #03d542;
    --green-stairs-circle-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), linear-gradient(0deg, #03d542, #03d542), #c4c4c4;
    --red-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.25), hsla(0, 0%, 100%, 0)), #f25656
}

body {
    margin: 0
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0
}

a {
    text-decoration: none
}

.layout-content {
    position: relative;
    max-width: 1146px;
    margin: 0 auto
}

.layout-container {
    margin: 0 auto;
    max-width: 1472px
}

.layout-container, .layout-content--grey {
    background-color: var(--light-grey)
}

.layout-content--with-z {
    position: relative;
    z-index: 1
}

.layout-full-width {
    position: relative;
    width: 100%
}

.layout-full-width--no-overflow {
    overflow: hidden
}

.layout-full-width--application {
    padding-bottom: 153px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: -160px
}

.layout-with-padding {
    padding: 0 64px
}

.layout-full-width--white {
    background-color: var(--white)
}

.layout-full-width--grey {
    background-color: var(--light-grey)
}

.layout-full-width--light-blue {
    background-color: var(--light-blue)
}

.layout-full-width--grey:first-child {
    padding-bottom: 160px
}

.sm-box {
    overflow: hidden;
    height: 848px;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    background-color: var(--light-blue)
}

.layout-particle-inner-box {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 1146px;
    margin: 0 auto
}

.header {
    position: relative;
    z-index: 2;
    margin-bottom: 90px;
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    color: var(--white);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700
}

.header__logo {
    font-size: 32px;
    line-height: 100%
}

.header__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 140px
}

.header__link {
    margin-right: 65px;
    font-size: 16px;
    color: var(--white)
}

.header__link:last-child {
    position: relative;
    text-align: center;
    margin-left: 70px
}

.header__link:last-child:after {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    display: block;
    bottom: -10px;
    width: 64px;
    height: 4px;
    border-radius: 32px;
    background: var(--orange-gradient)
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 64px;
    padding: 16px 65px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1px
}

.btn--white {
    background-color: var(--white);
    color: var(--dark-font)
}

.btn--dark-blue {
    box-sizing: border-box;
    display: block;
    max-width: 226px;
    margin: 0 auto;
    background-color: var(--dark-blue);
    border-radius: 64px;
    padding: 16px 88px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px
}

.btn--dark-blue, .heading {
    color: var(--white);
    font-style: normal
}

.heading {
    position: relative;
    z-index: 2;
    margin-left: 100px;
    max-width: 754px;
    font-family: var(--main-font)
}

.heading > h1 {
    font-weight: 900;
    font-size: 64px;
    margin-bottom: 30px
}

.heading__text {
    line-height: 150%;
    font-size: 24px;
    margin-bottom: 53px
}

.particle {
    border-radius: 500px;
    transform: rotate(-65deg);
    position: absolute
}

.particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.particle--blue {
    background-color: var(--light-blue)
}

.particle--orange {
    background-color: var(--orange)
}

.particle--red {
    background-color: var(--red)
}

.particle--heading {
    z-index: 1;
    background: var(--blue-gradient)
}

.particle--heading[data-order="1"] {
    top: -10px;
    left: 185px;
    width: 1128px;
    height: 300px
}

.particle--heading[data-order="2"] {
    width: 1128px;
    height: 300px;
    top: 54px;
    left: 486px
}

.particle--heading[data-order="3"] {
    width: 957px;
    height: 53px;
    top: 258px;
    left: 728px
}

.particle__application {
    opacity: .5
}

.particle__application[data-order="1"] {
    width: 39px;
    height: 13px;
    right: 322px;
    bottom: -87px;
    border: 3px solid;
    border-color: var(--application-particle-pink)
}

.particle__application[data-order="2"] {
    width: 80px;
    height: 28px;
    right: 80px;
    bottom: 10px;
    border: 3px solid;
    border-color: var(--red)
}

.particle__application[data-order="3"] {
    width: 144px;
    height: 51px;
    right: -98px;
    bottom: -64px;
    border: 5px solid;
    border-color: var(--light-blue)
}

.particle__application[data-order="4"] {
    width: 133px;
    height: 46px;
    right: -25px;
    bottom: 225px;
    border: 5px solid;
    border-color: var(--green)
}

.particle__application[data-order="5"] {
    width: 46px;
    height: 11px;
    right: -122px;
    bottom: 315px;
    border: 5px solid;
    border-color: var(--application-particle-pink)
}

.particle__application[data-order="6"] {
    width: 80px;
    height: 28px;
    right: -167px;
    bottom: 124px;
    border: 3px solid;
    border-color: var(--orange)
}

.particle__application[data-order="7"] {
    width: 28px;
    height: 8px;
    left: 250px;
    bottom: -33px;
    border: 5px solid;
    border-color: var(--orange)
}

.particle__application[data-order="8"] {
    width: 30px;
    height: 10px;
    left: 221px;
    bottom: 355px;
    border: 3px solid;
    border-color: var(--orange)
}

.particle__application[data-order="9"] {
    width: 133px;
    height: 46px;
    left: 27px;
    bottom: 77px;
    border: 5px solid;
    border-color: var(--green)
}

.particle__application[data-order="10"] {
    width: 80px;
    height: 28px;
    left: -5px;
    bottom: 326px;
    border: 3px solid;
    border-color: var(--red)
}

.particle__application[data-order="11"] {
    width: 57px;
    height: 17px;
    left: -152px;
    bottom: 45px;
    border: 5px solid;
    border-color: var(--light-blue)
}

.particle__application[data-order="12"] {
    width: 84px;
    height: 27px;
    left: -108px;
    bottom: -122px;
    border: 5px solid;
    border-color: var(--application-particle-pink)
}

.particle--features {
    background: var(--green-gradient);
    width: 1600px;
    height: 729px;
    position: absolute;
    top: 403px;
    left: 718px;
    border-radius: 500px;
    transform: rotate(-65.1deg)
}

.particle--features-photo {
    overflow: hidden;
    width: 1909px;
    height: 563px;
    top: 380px;
    left: -60px
}

.particle--features-photo:after {
    content: "";
    position: absolute;
    top: -1338px;
    width: 1314px;
    height: 1971px;
    background-position: 50% !important;
    background-size: 1314px 1971px !important;
    transform: rotate(65deg) translateX(700px);
    background-image: url(assets/features.jpg)
}

.particle--testimonials {
    top: 90px;
    left: 73px;
    width: 162px;
    height: 64px;
    border-radius: 500px;
    transform: rotate(-65deg)
}

.particle--testimonials-photo {
    overflow: hidden;
    background-position: 50% !important;
    background-size: cover !important;
    width: 124px;
    height: 64px;
    top: 132px;
    right: 95px;
    background: var(--blue-gradient);
    transform: matrix(.42, .91, .91, -.42, 0, 0)
}

.particle--testimonials-photo:after {
    content: "";
    position: absolute;
    top: -50px;
    left: 1px;
    width: 110px;
    height: 140px;
    background-position: 50% !important;
    background-size: 110px 140px !important;
    background-image: url(assets/testimonials.jpeg);
    transform: matrix(.42, .91, .91, -.42, 0, 0) translateX(13px)
}

.intro {
    font-family: var(--main-font);
    position: relative;
    z-index: 2;
    margin-top: 95px;
    width: 100%;
    height: 640px
}

.intro > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.intro__text-box {
    max-width: 264px;
    position: absolute;
    left: 98px;
    bottom: 80px
}

.intro__title {
    color: var(--light-blue);
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase
}

.intro__text {
    color: var(--white);
    font-style: normal;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%
}

.intro__buttons {
    background: var(--orange-gradient);
    width: 162px;
    height: 64px;
    border-radius: 50px
}

.intro__buttons, .intro__buttons svg {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%)
}

.intro__buttons svg {
    left: 30px;
    width: 12px;
    height: 24px
}

.intro__buttons svg:last-child {
    transform: translate(-50%, -50%) rotate(180deg);
    left: auto;
    right: 30px
}

.intro__aside {
    width: 640px;
    position: absolute;
    top: 50%;
    right: -392px;
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
    flex-direction: row
}

.intro__aside-link {
    margin-right: 85px;
    font-family: var(--main-font);
    color: var(--dark-font);
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase
}

.intro__aside-link:last-child {
    margin-right: 0
}

.category {
    max-width: 742px;
    margin: 167px auto 0;
    font-family: var(--main-font)
}

.category--side {
    max-width: 362px;
    padding-top: 162px;
    margin: 0
}

.category--process {
    padding-bottom: 290px
}

.category--message {
    margin-left: 0;
    margin-bottom: 105px
}

.category--contacts {
    margin-left: 0
}

.category--contacts, .category--message {
    margin-top: 105px
}

.category__name-container {
    display: flex;
    flex-direction: row
}

.category svg {
    width: 21px;
    height: 21px
}

.category__name {
    margin-left: 15px;
    color: var(--light-blue);
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.category__name--white {
    color: var(--white)
}

.category__text {
    margin-top: 25px;
    color: var(--dark-font);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%
}

.category--side .category__text {
    margin-top: 0;
    color: var(--darker-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%
}

.category > h3 {
    margin-top: 20px;
    margin-bottom: 63px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: var(--dark-font)
}

.what-we-do {
    font-family: var(--main-font);
    padding-bottom: 160px
}

.what-we-do > h2 {
    position: relative;
    bottom: 24px;
    margin: 0;
    text-align: center;
    color: var(--dark-font);
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%
}

.what-we-do__card-list {
    display: flex;
    flex-direction: row;
    margin-top: 113px
}

.what-we-do__card {
    max-width: 264px
}

.what-we-do__card:not(:last-child) {
    margin-right: 130px
}

.what-we-do__card-title {
    margin-bottom: 35px;
    color: var(--dark-font);
    font-style: normal;
    font-weight: 900;
    font-size: 19.6px;
    line-height: 140%
}

.what-we-do__card-text {
    color: var(--darker-font);
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%
}

.what-we-do__card-image {
    margin-bottom: 63px;
    position: relative;
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden
}

.what-we-do__card-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.stairs__card-list {
    display: grid;
    grid-template-columns:240px 240px;
    grid-gap: 128px 58px;
    position: absolute;
    top: 200px;
    right: 60px
}

.stairs__card {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 240px;
    background-color: var(--white);
    box-shadow: var(--stairs-shadow);
    font-family: var(--main-font);
    padding: 0 32px 48px
}

.stairs__card:nth-child(odd) {
    top: 112px
}

.stairs__card:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: -90px;
    top: 115px;
    width: 422px;
    height: 16px;
    border-radius: 500px;
    transform: rotate(-65deg)
}

.stairs__card--blue:after {
    background: var(--blue-gradient)
}

.stairs__card--orange:after {
    background: var(--orange-gradient)
}

.stairs__card--green:after {
    background: var(--green-gradient)
}

.stairs__card--red:after {
    background: var(--red-gradient)
}

.stairs__text {
    margin-top: 7px;
    color: var(--dark-font);
    font-weight: 400;
    font-size: 12.6px
}

.stairs__digit, .stairs__text {
    text-align: center;
    font-style: normal;
    line-height: 150%
}

.stairs__digit {
    margin-top: 65px;
    position: relative;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase
}

.stairs__card--blue .stairs__digit {
    color: transparent;
    background: var(--blue-gradient);
    -webkit-background-clip: text
}

.stairs__card--orange .stairs__digit {
    color: transparent;
    background: var(--orange-gradient);
    -webkit-background-clip: text
}

.stairs__card--green .stairs__digit {
    color: transparent;
    background: var(--green-gradient);
    -webkit-background-clip: text
}

.stairs__card--red .stairs__digit {
    color: transparent;
    background: var(--red-gradient);
    -webkit-background-clip: text
}

.stairs__digit:after {
    content: "";
    position: absolute;
    opacity: .1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    top: -16px;
    left: 50%;
    transform: translate(-50%)
}

.stairs__card--blue .stairs__digit:after {
    background: var(--blue-stairs-circle-gradient)
}

.stairs__card--orange .stairs__digit:after {
    background: var(--orange-gradient)
}

.stairs__card--green .stairs__digit:after {
    background: var(--green-stairs-circle-gradient)
}

.stairs__card--red .stairs__digit:after {
    background: var(--red-gradient)
}

.feature-list {
    display: flex;
    flex-direction: column;
    padding-bottom: 158px;
    box-sizing: border-box
}

.feature {
    display: flex;
    flex-direction: row
}

.feature:not(:last-child) {
    margin-bottom: 64px
}

.feature__icon {
    margin-right: 31px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    width: 64px;
    min-width: 64px;
    height: 64px;
    border-radius: 50%
}

.feature__icon svg {
    width: 24px;
    height: 24px
}

.feature__text {
    font-family: var(--main-font);
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%
}

.testimonials {
    position: relative;
    z-index: 1;
    margin-top: 84px;
    font-family: var(--main-font);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0 25px
}

.testimonials-item {
    position: relative;
    width: 314px;
    background-color: var(--testimonials-background);
    box-shadow: var(--testimonials-shadow);
    padding: 0 32px
}

.testimonials-item:not(:last-child) {
    margin-right: 78px
}

.testimonials__text {
    margin-bottom: 63px;
    position: relative;
    margin-top: 240px;
    color: var(--dark-font);
    font-style: italic;
    font-weight: 400;
    font-size: 14.4px;
    line-height: 150%;
    text-align: center
}

.testimonials-item--blue .testimonials__text:after {
    background: var(--blue-gradient)
}

.testimonials-item--orange .testimonials__text:after {
    background: var(--orange-gradient)
}

.testimonials-item--red .testimonials__text:after {
    background: var(--red-gradient)
}

.testimonials__text:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -30px;
    width: 64px;
    height: 2px;
    border-radius: 500px
}

.testimonials__name {
    text-align: center;
    color: var(--testimonials-name);
    font-style: normal;
    font-weight: 700;
    font-size: 12.6px;
    line-height: 150%
}

.testimonials-item--blue .testimonials__position {
    color: var(--light-blue)
}

.testimonials-item--orange .testimonials__position {
    color: var(--orange)
}

.testimonials-item--red .testimonials__position {
    color: var(--red)
}

.testimonials__position {
    margin-bottom: 54px;
    font-style: normal;
    font-weight: 800;
    font-size: 12.6px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase
}

.application {
    font-family: var(--main-font);
    text-align: center;
    margin: 315px auto 0;
    max-width: 754px
}

.application h2 {
    margin-bottom: 58px;
    color: var(--dark-font);
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 100%
}

.application__text {
    margin-bottom: 55px;
    color: var(--darker-font);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%
}

.contacts {
    font-family: var(--main-font);
    display: flex;
    flex-direction: row
}

.contacts__form {
    margin-right: 128px;
    flex-grow: 1
}

.contacts form {
    display: flex;
    flex-direction: column
}

.contacts input[type=email], .contacts input[type=text] {
    background-color: var(--light-grey);
    padding: 0 0 17px;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--input-border)
}

.contacts input[type=email]:not(:last-child), .contacts input[type=text]:not(:last-child) {
    margin-bottom: 45px
}

.contacts input::-webkit-input-placeholder {
    color: var(--testimonials-name);
    font-style: normal;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 150%
}

.contacts input:-ms-input-placeholder {
    color: var(--testimonials-name);
    font-style: normal;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 150%
}

.contacts input::-ms-input-placeholder {
    color: var(--testimonials-name);
    font-style: normal;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 150%
}

.contacts input::placeholder, .contacts input[type=email], .contacts input[type=text] {
    color: var(--testimonials-name);
    font-style: normal;
    font-weight: 700;
    font-size: 14.4px;
    line-height: 150%
}

.contacts input[type=submit] {
    margin: 58px 0 0
}

.contacts h2 {
    margin-top: 23px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: var(--dark-font)
}

.contacts__info {
    max-width: 362px
}

.contacts__info-name {
    font-weight: 800;
    font-size: 12.6px;
    color: var(--darker-font)
}

.contacts__info-name, .contacts__info-value {
    font-style: normal;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase
}

.contacts__info-value {
    font-weight: 900;
    font-size: 24px;
    color: var(--light-blue)
}

.contacts__info-type {
    margin-top: 42px
}

.contacts__social-links {
    display: flex;
    flex-direction: row;
    margin-top: 53px
}

.contacts__social-links svg {
    width: 32px;
    height: 32px
}

.contacts a:not(:last-child) {
    margin-right: 48px
}

.footer {
    margin: 138px 0 82px;
    justify-content: space-between
}

.footer__link, .footer__signature {
    font-family: var(--main-font);
    color: var(--dark-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%
}

.footer, .footer__links {
    display: flex;
    flex-direction: row
}

.footer__link:not(:last-child) {
    margin-right: 68px
}

